
body {
    background:#e0e0e0;
	width:95%;
	margin:auto;
	color:#1a237e;
}
#wrapper {
    margin-right:98%;	
}
#page-wrapper {
    padding: 0 10px;
    min-height:700px;
	background:#e0e0e0;
	width:86%;
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 2px;
	    padding-top:0px;
    }
}
#page-wrapper .home{
	background-color:#ffffff;
	padding-top:3px;
	margin-bottom:1px;
}
.top_links li a{
	color:#ffffff;
	font-size:13px;
	font-style:bold;
}
.navbar-top-links li  :hover{
    color:#000;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
	height:10px;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 10px;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.sidebar {
	background-color:#fff;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar ul li {
    border-bottom: 1px solid #eee;
}

.sidebar ul li a.active {
    background-color: #e0e0e0;
}
.sidebar ul li a {
    color: #1a237e;
	font-style:bold;
}
.sidebar .nav-second-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}
@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
		height:720px;
        margin-top: 64px;
		background:#ffffff;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 25px;
}
.home{
	margin-top:2px;
	padding:20px;
	border:thin solid #fff;
}
.viewAllStaff{
	background-color:#ffffff;
	margin-bottom:1px;
	/*box-shadow:.5px .5px .5px .5px #888888;*/
	padding:10px;
}
.btn-email{
	margin-left:100px;
}
.btn-blue{
	background-color:#1a237e;
}
.page-heading{
	background-color:#ffffff; 
	padding:1px; 
	/*box-shadow: .3px .3px .3px .3px #888888; */
}
.page-heading h4{
	text-align:left;
	padding-left:20px;
}
.page-content{
    padding:15px;
	/*box-shadow: .3px .3px .3px .3px #888888; */
    margin-top:15px;
	margin-left:15px;
	background-color:#fff;
	height:808px;
}