body{
    background-image: none;
    background-repeat: none;
  }
  .login-panel {
    box-shadow:2px 2px 6px 6px grey;
    background-color:#C9C9C9;
  }

  .dropdown-i:hover{
  background-color:#222527!important;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.dropdown-i2:hover{
  background-color:#3490dc!important;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.dropdown-menu-right{
    position: absolute;
    right: -7em;
    top: 3.6em;
    width: 10em;
}

.breadcrumb{
  background-color: transparent;
}
.breadcrumb-link:hover{
  color:#343a40;
  font-weight: bolder;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "|";
}
.list-nav{
  visibility: visible;
  display:none;
}

.btn-account{
    border-left: 1px solid rgba(0,0,0,.12);
}

@media screen and (max-width: 600px) {
  .img-master
  {
   height: 4em;
    width: 4em;
    visibility: inherit;
    display: flex;
  }
  .navbar-brand{
  visibility: inherit;
  display: flex;
  }
  .logout{
  visibility: hidden;
  display: none;
  }
  .size-768{
    visibility: visible;
    display: flex;
  }
  .size-76{
    visibility: hidden;
    display: none;
  }
}
/* Portrait and Landscape */
@media screen and (max-width: 480px)
  and (max-width: 800px) {
    .size-768{
      visibility: visible;
      display: flex;
    }
    .size-76{
      visibility: hidden;
      display: none;
    }
    .badg{
      font-size: 18px;
      position: absolute;
      top: -0.5em;
      left: -1em;
    }
    .img-pos{
      height: 4em;
       width: 4em;
       position: relative;
       left:3em;
    }
    .img-master
    {
     height: 4em;
      width: 4em;
      visibility: inherit;
      display: flex;
  }
  .navbar-brand{
    visibility: inherit;
    display:inline-block;
    float: left;
    position: relative;
    left: -3.5em;
  }
  .logout{
    visibility: hidden;
    display: none;
  }
  .sidebar {
  visibility: hidden;
  display: none;
  }
  .form-input{
    visibility: hidden;
    display: none;

  }
  .list-nav{
    visibility: inherit;
    display:inline-block;
  }
  .mr-auto{
    visibility: hidden;
    display: none;
  }
}
/* Portrait and Landscape */
@media screen and (min-width: 480px)
  and (max-width: 800px) {
    .img-master
    {
     height: 4em;
      width: 4em;
      visibility: inherit;
      display: flex;
  }
  .navbar-brand{
    visibility: inherit;
    display: flex;
  }
  .logout{
    visibility: visible;
    display: block;
  }

  .size-768{
    visibility: visible;
    display: flex;
  }
  .size-76{
    visibility: hidden;
    display: none;
  }

  .mr-auto{
    visibility: visible;
    display: block;

  }

}

/* Portrait */
@media only screen and (min-width: 480px)
  and (min-width: 800px)
  and (orientation: portrait) {
    .logout{
      position: relative;
      visibility: hidden;
      display: none;
    }
    .img-master
    {
     height: 4em;
      width: 4em;
      visibility: visible;
      display: flex;
  }
  .navbar-brand{
    visibility: inherit;
    display: flex;
  }


}
@media (min-width: 480px) and (max-width:576px){
  .badg{
    font-size: 18px;
    position: absolute;
    top: 1.5em;
    left: 8em;
  }
  .logout{
    position: relative;
    visibility: visible;
    display: block;
  }
  .mr-auto{
    position: relative;
    top: 0.8em;

  }
  .img-master
  {
   height: 4em;
    width: 4em;
    visibility: visible;
    display: flex;
}
.navbar-brand{
  visibility: inherit;
  display: flex;
}
.sidebar {
visibility: hidden;
display: none;
}
.size-76{
  visibility: hidden;
  display: none;
}
  }

@media (min-width:576px) and (max-width:768px){
  .size-76{
    visibility: visible;
    display: flex;
  }
  .badg{
    font-size: 18px;
    position: absolute;
    top: 1.5em;
    left: 8em;
  }
  .sidebar {
  visibility: hidden;
  display: none;
  }
  .y-5{
    padding-top: 4em !important;
    }

    .img-master
    {
     height: 4em;
      width: 4em;
      visibility: visible;
      display: flex;
    }

    .icons{
      position: relative;
    }
    .navbar-brand{
      visibility: hidden;
      display: none;
    }
    .list-nav{
      visibility: hidden;
      display: none;
    }
    .size-768{
      visibility: hidden;
      display: none;
    }
    .accountt-summary{
      visibility: hidden;
      display: none;
    }
    .mr-auto{
      position: relative;
      top: 0.8em;

    }
  }

  @media (min-width:768px)and (max-width: 882px){
    .badg{
      font-size: 18px;
      position: absolute;
      top: 1.5em;
      left: 8em;
    }
    .sidebar {
      position: fixed;
      top: 2em;
      bottom: 0;
      left: 0;
      z-index: 100; /* Behind the navbar */
      padding: 48px 0 0; /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
    .mr-auto{
      position: relative;
      top: 0.8em;

    }

      .y-5{
        padding-top: 5rem !important;
        }
        .img-master
        {
         height: 4em;
          width: 4em;
        }
        .navbar-brand{
          visibility: inherit;
          display: flex;
        }
        .list-nav{
          visibility: hidden;
          display: none;
        }
        .size-768{
          visibility: hidden;
          display: none;
        }
        .size-76{
          visibility: visible;
          display: flex;
        }
  }
  @media (min-width:768px) and (orientation: landscape){

    .badg{
      font-size: 18px;
      position: absolute;
      top: 1.5em;
      left: 8em;
    }
    .sidebar {
      position: fixed;
      top: 2em;
      bottom: 0;
      left: 0;
      z-index: 100; /* Behind the navbar */
      padding: 48px 0 0; /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
      .y-5{
        padding-top: 4rem !important;
      }
      .mr-auto{
        position: relative;
        top: 0.8em;

      }
      .accountt-summary{
        visibility: hidden;
        display: none;
      }
      .img-master
      {
        height: 4em;
         width: 4em;
      }
      .navbar-brand{

        visibility: inherit;
        display: flex;
      }
      .list-nav{
        visibility: hidden;
        display: none;
      }

      .size-76{
        visibility: visible;
        display: flex;
      }
      .size-768{
        visibility: hidden;
        display: none;
      }
      .size-76{
        visibility: visible;
        display: flex;
      }
  }
  @media (min-width:882px)and (max-width: 1024px){
    .size-768{
      visibility: visible;
      display: flex;
    }
    .badg{
      font-size: 18px;
      position: absolute;
      top: 1.5em;
      left: 8em;
    }
    .sidebar {
      position: fixed;
      top: 2em;
      bottom: 0;
      left: 0;
      z-index: 100; /* Behind the navbar */
      padding: 48px 0 0; /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
    .mr-auto{
      position: relative;
      top: 0.8em;

    }
    .size-76{
      visibility: hidden;
      display: none;
    }
      .y-5{
        padding-top: 5rem !important;
        }
        .img-master
        {
         height: 4em;
          width: 4em;
        }
        .navbar-brand{
          visibility: inherit;
          display: flex;
        }
  }
@media (min-width:1200px) {
  .size-76{
    visibility: hidden;
    display: none;
  }
  .size-768{
    visibility: visible;
    display: flex;
  }
  .badg{
    font-size: 18px;
    position: absolute;
    top: 1.5em;
    left: 8em;
  }
  .sidebar {
    position: fixed;
    top: 2em;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
      .y-5{
        padding-top: 5rem !important;
        }
        .img-master
        {
         height: 4em;
          width: 4em;
        }

        .navbar-brand{
          visibility: inherit;
          display: flex;
        }
        .mr-auto{
          position: relative;
          top: 0.8em;

        }

        .accountt-summary{
          visibility: visible;
          display: block;
        }
   }


.x-2{
  padding-right: 3rem !important;
}
  .img-card{
    padding-left: 3em;
    margin-left: 3em;
    padding-right: 3em;
    margin-right: 3em;
  }

  .badg-master{
    font-size: 18px;

  }
  .badg-auth{
     font-size: 18px;
  }
  .remember{
    margin-left:1.2em;

  }



  .division{
    padding-left: 0.7em;
    margin-left: 0.5em;
    padding-right: 2em;
    margin-right: 3em;
  }
  .division1{
    padding-left: 0.7em;
    margin-left: 1em;
    padding-right: 2em;
    margin-right: 3em;
  }

  .form{
    padding-top: 1em;
    margin-top: 2em;

  }

  .login-links{
    text-decoration: none;
  }
  .login-links:hover{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  .navbar-laravel{
    background-color:#fff;
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.04);
    box-shadow:0 2px 4px rgba(0,0,0,.04);
  }
.zoom img,.zoom video{-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
.zoom:hover img,.zoom:hover video{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
/**/

.lg{
  font-size: 28px;
}
.pos-lg{
  padding-top: 1.4em;
  padding-bottom: 1em;
  position: absolute;
  right: 21em;
  top: 0.2em;
}
.list-icon{

top: 0.2em;
}
.logout{
  bottom: 0.4em;
}

.icons {
  color:#6c757d;
  padding-left: 2px;
  padding-right: 2px;
  padding:0 0.28rem;

}
.icon-2 {
  color:#6c757d;
  padding-left: 2px;
  padding-right: 2px;
  padding:0 0.68rem;

}
.icon {
  color:#6c757d;




}
.nav-link{
  color:#6c757d;
  padding-left: 5px;
  padding-right: 5px;
}
.icons:hover{
  color: white;
}
.icon:hover{
  color: white;
}


.logout{

}
.content-cards{
   padding-top: 6em;
   padding-bottom: 2em;
}
.contain{

  padding-left: 17em;
  padding-right: 5em;
}


.contain2{
  padding-top: 3em;
  padding-left: 17em;
  padding-right: 5em;
}

/**/
.card-wrapper{
  padding-left: 4em;
  padding-right: 4em;

}
.card-wrapper1{
  padding-left: 4em;
  padding-right: 4em;
  right: -5em;
}




.footer {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.bg-green{
    /*background-color: #8AC007;*/
    background-color: #1f4f32;
  }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.move-right{
  position: absolute;
  right:1em;
}

.nav-left{

}

#f1_container {

  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {

  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
}

.helpline-img{
  width: 17em;
  height: 14em;
  align-items: flex-start;
}

.py-l{

}
/*
 * Sidebar
 */
 .col-m{
   width: 20rem;
 }

.col-sm{
  width: 14rem;
}

.sidebar-nav {
  position: relative;
  top: 0;
  left: 10px;
  height: calc(50vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-nav {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  left: 10px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */
.align-items-center {
    align-items: center!important;
}
.row {
    display: flex;
    margin-right: -12px;
    margin-left: -12px;
    flex-wrap: wrap;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;

}
.mt-1{
  margin-top: -.6875rem!important;
}
.badge-soft-success {
    color: #00d97e;
    background-color: #ccf7e5;
}
.badge {
    vertical-align: middle;
}

.mt--1, .my--1{
    margin-top: -.7875rem!important;
}
.mb-1 {
  margin-top: .7875rem!important;
}
.col-auto {
    width: auto;
    max-width: none;
    flex: 0 1 auto;
}

.col {
    max-width: 100%;
    flex-basis: 0px;
    flex-grow: 1;
}
.card-header-title {
    margin-bottom: 0px;

}

.nav-tabs-sm {
    font-size: .8125rem;
}

.card-header-tabs {
    margin: -.5rem 0;

}

.card-color{
  background-color: #ffffff;

}
.card-header-tabs>.nav-item >.nav-link{
  background-color: #ffffff;
  /*margin-bottom: -1px;*/

}

.header-tabs>.nav-item >.nav-link{
  background-color: #ffffff;
  /*margin-bottom: -1px;*/

}

.card-header-tabs>.nav-item >.nav-link:active{
  border-bottom: 2px solid #343a40;
  background-color: #ffffff;
}
.card-header-tabs>.nav-item >.active{
  border-bottom: 2px solid #343a40;
  background-color: #ffffff;

}


.header-tabs>.nav-item >.nav-link:active{
  border-bottom: 2px solid #343a40;
  background-color: #ffffff;
}
.header-tabs>.nav-item >.active{
  border-bottom: 2px solid #343a40;
  background-color: #ffffff;

}

.nav-tabs  {
    margin-bottom: -1px;
}


.hoverable{
  -webkit-box-shadow:none;
  box-shadow:none;
  -webkit-transition:all .55s ease-in-out;
  -o-transition:all .55s ease-in-out;
  transition:all .55s ease-in-out
  }
  .hoverable:hover{
    cursor: pointer;
    -webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    -webkit-transition:all .55s ease-in-out;
    -o-transition:all .55s ease-in-out;
    transition:all .55s ease-in-out;
  }

a>.small{

}
a>.small:hover{
  font-weight: bold;
}
.breadcrumb-item>.small:hover{
  color:blue;
  text-transform: uppercase;
}
.list-hoverable{

}
.list-hoverable:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075);
  font-weight: 500;
}
.card2-popover{
    font-size: 12px;
}
.card2-popover:hover{
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
  font-stretch: initial;

    transition:all .55s ease-in;

}
.menu-a-link{
  -webkit-box-shadow:none;
  box-shadow:none;
  -webkit-transition:all .55s ease-in-out;
  -o-transition:all .55s ease-in-out;
  transition:all .55s ease-in-out
}
.menu-a-link:hover{
  color: white;
  background-color:#313a46!important;
  -webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    -webkit-transition:all .55s ease-in-out;
    -o-transition:all .55s ease-in-out;
    transition:all .55s ease-in-out;
}
.aside-menu>.menu>.menu-item>.menu-a-link:active
{
  color: #fff;
  background-color:#313a46!important;
}
.aside-menu>.menu>.menu-item>.has-active
{
  color: #fff;
  background-color:#6c757d!important;
}


.nav-i{
  -webkit-box-shadow:none;
  box-shadow:none;
  -webkit-transition:all .55s ease-in-out;
  -o-transition:all .55s ease-in-out;
  transition:all .55s ease-in-out
}
.nav-i:hover{
  color: #fff;
  background-color:#313a46!important;
  -webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    -webkit-transition:all .55s ease-in-out;
    -o-transition:all .55s ease-in-out;
    transition:all .55s ease-in-out;
}
.sidebar-sticky>.nav>.nav-item>.nav-i:active
{
  color: #fff;
  background-color:#313a46!important;
}

.sidebar-sticky>.nav>.nav-item>.active
{
  color: #fff;
  background-color:#6c757d!important;
}

.nav-drop{
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    width: 10em;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-153px, 29px, 0px);
}

.link-text{
  font-size: 10px;
}

.resolved{
  height:169px;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:hidden;
}
.resolved:hover{

  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;

}


.resolved::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  background-color: #888f96;
  width: 3px;
}

.resolved::-webkit-scrollbar
{
  border-radius: 5px;
  width: 4px;
  background-color: #888f96;
}

.resolved::-webkit-scrollbar-thumb
{
   border-radius: 5px;
  background-color: #000000;
  border: 0.1px solid #888f96;
}

.img-prop
{
  height: 4.4em;
  width: 4.4em;
  float: left;
  position: absolute;
  top:8px;
  left: 4.7em;
}
.paging{
  position: relative;
  top:-10em;
}
.list-page{
  padding-right:2em ;
  padding-left: 2em;
}

.my--2{
  position: relative;
  top: -1.2em;
}

@media (min-width:576px){

  .form-input{
    width: 20rem;
  }
}
@media (min-width:768px)
{
  .form-input{
    width: 20rem;
  }

}
/* @media (min-width:992px){

  .img-prop
  {
    height: 4.4em;
    width: 4.4em;
    float: left;
    position: absolute;
    top:6px;
    left: 4em;
  }
  .form-input{
    width: 20rem;
  }
}
@media (min-width:1200px){
  .form-input{
    width: 56rem;
  }
  .img-prop
  {
    height: 4.4em;
    width: 4.4em;
    float: left;
    position: absolute;
    top:6px;
    left: 4em;
  }
  } */


  /* Partner */
.btn-outline-warning:hover{
  color:white;
}
  .modal-full{
    min-width: 80%;
  }
  .html,
  .body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .html a:hover,
    .html a:active,
    .html a:focus,
    .body a:hover,
    .body a:active,
    .body a:focus {
      text-decoration: none !important; }
    .html a,
    .html button,
    .body a,
    .body button {
      outline: none !important; }

  .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #646c9a;
  }


  .col-issues{
    height:200px;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:hidden;
  }
  .col-issues:hover{

    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;

  }


  .col-issues::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: #888f96;
    width: 3px;
  }

  .col-issues::-webkit-scrollbar
  {
    border-radius: 5px;
    width: 4px;
    background-color: #888f96;
  }

  .col-issues::-webkit-scrollbar-thumb
  {
     border-radius: 5px;
    background-color: #000000;
    border: 0.1px solid #888f96;
  }

  .col-issue{
    height:100px;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:hidden;
  }
  .col-issue:hover{

    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;

  }


  .col-issue::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: #888f96;
    width: 3px;
  }

  .col-issue::-webkit-scrollbar
  {
    border-radius: 5px;
    width: 4px;
    background-color: #888f96;
  }

  .col-issue::-webkit-scrollbar-thumb
  {
     border-radius: 5px;
    background-color: #000000;
    border: 0.1px solid #888f96;
  }

  .col-noti{
    height:25rem;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:hidden;
  }
  .col-noti:hover{

    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;

  }


  .col-noti::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: #888f96;
    width: 3px;
  }

  .col-noti::-webkit-scrollbar
  {
    border-radius: 5px;
    width: 4px;
    background-color: #888f96;
  }

  .col-noti::-webkit-scrollbar-thumb
  {
     border-radius: 5px;
    background-color: #000000;
    border: 0.1px solid #888f96;
  }
