.accountt-summary{
  position: relative;
  top: 3px;
  left: 3.5em;

  max-width: 13rem;
}
.accountt-name{
  margin: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1rem;
}
.accountt-description{
  font-size: .75rem;
    font-weight: 400;
    opacity: .7;
}

.use-avatar{
  position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    padding-left: 1em;
}
/**/
.card-wrapper{
  padding-left: 4em;
  padding-right: 4em;

}
.card-wrapper1{
  padding-left: 4em;
  padding-right: 4em;
  right: -5em;
}


.card-wrapper1 {
  perspective: 1000;
}
.f1_card {

  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.card-wrapper1:hover .f1_card {
  transform: rotateX(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face1.back1 {
  display: block;
  transform: rotateX(-180deg);
  box-sizing: border-box;
  text-align: center;
}

.card-wrapper2{
  padding-left: 4em;
  padding-right: 4em;
  right: -10em;
}

.card-wrapper2 {
  perspective: 1000;
}
.f_card {

  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.card-wrapper2:hover .f_card {
  transform: rotateZ(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face2.back2 {
  display: block;
  transform: rotateZ(180deg);
  box-sizing: border-box;
  text-align: center;
}

.footer {

  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.bg-green{
    /*background-color: #8AC007;*/
    background-color: #1f4f32;
  }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.move-right{
  position: absolute;
  right:1em;
}

.nav-left{

}

#f1_container {

  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {

  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
}

.helpline-img{
  width: 15em;
  height: 14em;
}

.py-l{

}
.card-color{
  background-color: #ffffff;

}
.absolute{
  position: fixed;
  left: 0;
  top: 10em;
}

.ml-2{
  padding-top: 2px;
}


.col-reg{
  height:550px;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:hidden;
}
.col-reg:hover{

  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;

}
.comment{
  font-size: 12px;
  font-weight:500;
}
.fa-icon{

}
.fa-icon:hover{
  font-size: 12.5px;
  font-style: oblique;
  font-weight: bold;
}

.col-reg::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  background-color: white;
  width: 5px;
  float: left;

}

.col-reg::-webkit-scrollbar
{
    float: left;
  border-radius: 5px;
  width: 4px;
  background-color:  #f8f9fa;
}

.col-reg::-webkit-scrollbar-thumb
{
    float: left;
   border-radius: 5px;
  background-color: #6c757d;
  border: 0.1px solid white;
}

.account-summary{
  position: relative;
  left: 3.5em;

  max-width: 13rem;
}
.account-name{
  margin: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1rem;
}
.account-description{
  font-size: .75rem;
    font-weight: 400;
    opacity: .7;
}

.use-avatar{
  position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    padding-left: 1em;
}
.btn-account{
  padding: 0 1rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-left: 1px solid rgba(0,0,0,.12);
}
