body{
    background-image: none;
    background-repeat: none;

  }

.html,
.body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-weight: 300;
  font-family: Poppins;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .html a:hover,
  .html a:active,
  .html a:focus,
  .body a:hover,
  .body a:active,
  .body a:focus {
    text-decoration: none !important; }
  .html a,
  .html button,
  .body a,
  .body button {
    outline: none !important; }

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #646c9a; }
  .bg-green{
    /*background-color: #8AC007;*/
    background-color: #1f4f32;
  }
  .text-green{
    color: #1f4f32;
  }
  .login-panel {
    box-shadow:2px 2px 6px 6px grey;
    background-color:#C9C9C9;
  }

  .img-card{
    padding-left: 3em;
    margin-left: 3em;
    padding-right: 3em;
    margin-right: 3em;
  }
  .badg{
    font-size: 18px;
    position: absolute;
    top: 1.5em;
    left: 8em;
  }
  .badg-master{
    font-size: 18px;
   
  }
  .badg-auth{
     font-size: 18px;
  }
  .remember{
    margin-left:1.2em;

  }
  .img-prop
  {
    height: 4em;
    width: 4em;
    float: left;
    position: relative;
    left: -12em;
  }

  .img-master
  {
   height: 4em;
    width: 4em;
  }
  .img-call
  {
   height: 1.8em;
    width: 1.8em;
  }
  .division{
    padding-left: 0.7em;
    margin-left: 1em;
    padding-right: 2em;
    margin-right: 3em;
  }

  .form{
    padding-top: 1em;
    margin-top: 2em;

  }

  .login-links{
    text-decoration: none;
  }
  .login-links:hover{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  .navbar-laravel{
    background-color:#fff;
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.04);
    box-shadow:0 2px 4px rgba(0,0,0,.04);
  }
.zoom img,.zoom video{-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
.zoom:hover img,.zoom:hover video{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
/**/

.lg{
  font-size: 28px;
}
.pos-lg{
  padding-top: 1.4em;
  padding-bottom: 1em;
  position: absolute;
  right: 21em;
  top: 0.2em;
}
.pos-lg1{
  padding-top: 1.4em;
  padding-bottom: 1em;
  position: absolute;
  right: 18em;
  top: 0.2em;
}
.pos-lg2{
  padding-top: 1.4em;
  padding-bottom: 1em;
  position: absolute;
  right: 15em;
  top: 0.2em;
}
.logout{
   position: absolute;
  right: 8em;
  top: 0.8em;

}
.icons{
   color: white;
  padding-left: 5px;
  padding-right: 5px;
}
.icons:hover{
 
  color:#6c757d;
}
.account-summary{
  position: relative;
  left: 3.5em;
  color: white;
  max-width: 13rem;
}
.account-name{
  margin: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1rem;
}
.account-description{
  font-size: .75rem;
    font-weight: 400;
    opacity: .7;
}

.use-avatar{
  position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    padding-left: 1em;
}
.btn-account{
  padding: 0 1rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-left: 1px solid rgba(0,0,0,.12);
}
.content-cards{

    padding-left: 10em;
    padding-right: 10em;
    margin-right:auto;
    margin-left:auto;
    max-width:100%;
}

.content-card{
   padding-top: 4em;
   max-width:960px;
}
.container{
  width:100%;padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}
@media (min-width:576px){
  .container{
    max-width:540px
    }
  }
  @media (min-width:768px){
    .container{
      max-width:720px
      }
    }
    @media (min-width:992px){
      .container{max-width:960px
        }
      }
    @media (min-width:1200px){
      .container{
        max-width:1140px
        }
      }
      .card-title{
        padding-top: 35px;
        margin-top:auto;
      
      }
      .card-title1{
        padding-top: 40px;
        margin-top:auto;
      }
      .card-title2{
        padding-top: 30px;
        margin-top:auto;
      }
      .card-fluid{
        width:100%;
        padding-right:15px;
        padding-left:15px;
        margin-top:auto;
        margin-right:auto;
        margin-left:auto;
        position: relative;
        top: 25px;
      }
   .card-fluid1{
        width:100%;
        padding-right:15px;
        padding-left:15px;
        margin-top:auto;
        margin-right:auto;
        margin-left:auto;
        position: relative;
        top: 35px;
      }

.contain{
 
  padding-left: 17em;
  padding-right: 5em;
}


.contain2{
  padding-top: 3em;
  padding-left: 17em;
  padding-right: 5em;
}

/**/
.card-wrapper{
  right: -1em;
  width: 18rem;
  height: 11.2rem;
}
.card-wrapper1{
  right: -3em;
  width: 18rem;
  height: 11.2rem;

}
.card-wrapper2{
  right: -7em;
  width: 18rem;
  height: 11.2rem;
}


.card-wrapper3{
  right: -9em;
  width: 18rem;
  height: 11.2rem;
}

.card-wrapper4{
  right: 0em;
  width: 45rem;
}
.card-wrapper5{
  position: relative;
  left: 2.6em;
  width: 32rem;
}
.top-fixed{
  padding-top: 4.7em;

}
.col {
    max-width: 100%;
    flex-basis: 0px;
    flex-grow: 1;
}

.card-header-title {
    margin-bottom: 0px;
}

.footer {

  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.move-right{
  position: absolute;
  right:1em;
}

.menu-link{
  color: white; 
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5em;
  padding-right: 8em
}
.menu-link:hover{
    color:#6c757d;
}
.bg-nav{
  /*background-color: #80827f;*/
  background-color: #ffffff;
}

.mr-auto{
  position: absolute;
  left:35em;
}

.nav-left-1{
  position: absolute;
  left: 14em;
  color: #343a40;;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-left-2{
  position: absolute;
  left: 25em;
  color: #343a40;
  text-transform: uppercase;
   font-weight: 600;
}

.nav-left-2-0{
  position: absolute;
  left: 23em;
  color: #343a40;
  text-transform: uppercase;
   font-weight: 600;
}
.nav-left-3{
  position: absolute;
  left: 34em;
  color: #343a40;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-left-5{
  position: absolute;
  left: 20em;
  color: #343a40;
  text-transform: uppercase;
   font-weight: 600;
}
.nav-left-6{
  position: absolute;
  left: 27em;
  color: #343a40;
  text-transform: uppercase;
  font-weight: 600;
}


.nav-left-7{
  position: absolute;
  left: 37em;
  color: #343a40;
  text-transform: uppercase;
   font-weight: 600;
}
.nav-left-8{
  position: absolute;
  left: 47em;
  color: #343a40;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-left-9{
  position: absolute;
  left: 54em;
  color: #343a40;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-left-1:hover{
   border-left:1px solid #414240;
  border-right: 1px solid #414240;
   border-bottom:3px solid #414240;

  color: #414240;
}
.nav-left-2:hover{
  border-left:1px solid #414240;
  border-right: 1px solid #414240;
    border-bottom:3px solid #414240;
  color: #414240;
   font-weight: 700;
}
.nav-left-2-0:hover{
  border-left:1px solid #414240;
  border-right: 1px solid #414240;
    border-bottom:3px solid #414240;
  color: #414240;
   font-weight: 700;
}
.nav-left-3:hover{
  color: white;
  font-weight: 700;
   border-left:1px solid #414240;
  border-right: 1px solid #414240;
    border-bottom:3px solid #414240;
}
.fa-x{
  font-size: 21px;
  color: #414240;
}

.nav-left-5:hover{
 border-left:1px solid #414240;
  border-right: 1px solid #414240;
  color: #414240;
   font-weight: 700;
}
.nav-left-6:hover{
  color: white;
  font-weight: 700;
   border-left:1px solid #e2dede;
  border-right: 1px solid #e2dede;
}
.nav-left-7:hover{
 border-left:1px solid #e2dede;
  border-right: 1px solid #e2dede;
  color: white;
   font-weight: 700;
}
.nav-left-8:hover{
  color: white;
  font-weight: 700;
  border-left:1px solid #e2dede;
  border-right: 1px solid #e2dede;
}

.nav-left-9:hover{
  color: white;
  font-weight: 700;
  border-left:1px solid #e2dede;
  border-right: 1px solid #e2dede;
}
#tithandizanehelpline{
  visibility: hidden;
  display: none;
  position: relative;
  left: -4.75em;

}

#new-call{

}
#new-call:hover{
  cursor: pointer;
}

.helpline{
  position: absolute;
  top: 0.5em;
}
.pad-card{
  position: relative;
  left: 25px;
}

.card-header {
    margin-bottom: 0px;
    background-color: transparent;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgb(237, 242, 249);
}
.card .card-drop {
    font-size: 16px;
    line-height: 0;
    color: inherit;
}
.menu-right{
     position: absolute;
     will-change: transform; 
     top: 0px; left: 0px; 
     transform: translate3d(-140px, -147px, 0px);
}

.absolute{
  position: fixed;
  left: 0;
  top: 10em;
}


.moveRight{
        animation-name:moveRight;
        animation-duration:.2s;
        animation-fill-mode: forwards;
        animation-timing-function:ease-in;
      }
.moveLeft{
        animation-name:moveLeft;
        animation-duration:.4s;
        animation-fill-mode: forwards;
        animation-timing-function:ease-out;
      }
.hidden{
  visibility: hidden;
  display: none;

}


..container-rm{
  width:100%;
  padding-right:75px;
  padding-left:5em;
  margin-right:auto;
  margin-left:5em
  }
  @media (min-width:576px){
    ..container-rm{max-width:540px
      }
  }
  @media (min-width:768px)
  {
    ..container-rm{
      max-width:720px
  }
  }
  @media (min-width:992px){
    ..container-rm{
      max-width:960px
    }
  }
  @media (min-width:1200px){
    ..container-rm{
      max-width:1140px
      }
    }

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

.col-issues{
  height:200px;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:hidden;
}
.col-issues:hover{

  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;

}


.col-issues::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  background-color: #888f96;
  width: 3px;
}

.col-issues::-webkit-scrollbar
{
  border-radius: 5px;
  width: 4px;
  background-color: #888f96;
}

.col-issues::-webkit-scrollbar-thumb
{
   border-radius: 5px;
  background-color: #000000;
  border: 0.1px solid #888f96;
}


/*
*/

.col-alliance{
  height:120px;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:hidden;
}
.col-alliance:hover{

  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;

}


.col-alliance::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  background-color: #888f96;
  width: 3px;
}

.col-alliance::-webkit-scrollbar
{
  border-radius: 5px;
  width: 4px;
  background-color: #888f96;
}

.col-alliance::-webkit-scrollbar-thumb
{
   border-radius: 5px;
  background-color: #000000;
  border: 0.1px solid #888f96;
}
.col-refferal{
  height:100px;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:hidden;
}
.col-refferal:hover{

  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;

}


.col-refferal::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  background-color: white;
  width: 3px;
  float: left;

}

.col-refferal::-webkit-scrollbar
{
    float: left;
  border-radius: 5px;
  width: 4px;
  background-color:  #f8f9fa;
}

.col-refferal::-webkit-scrollbar-thumb
{
    float: left;
   border-radius: 5px;
  background-color: #6c757d;
  border: 0.1px solid white;
}
.small-issue{
  font-size: 13px;
 
}
